In [1]:
import requests, time, re
import pandas as pd
import csv
import pickle as pkl
import json
from datetime import datetime, timezone

import binance_tasks

""" START HERE """
files = binance_tasks.crawl_24h_price()

# columns
cols = ['symbol', 'priceChange', 'priceChangePercent','prevClosePrice', 'lastPrice',
        'openPrice', 'highPrice', 'lowPrice', 'volume', 'openTime', 'closeTime', 'count']
# files 
for file in files:
    data = pd.read_csv(file.name)
    df = pd.DataFrame(data, columns=cols)
df.head()

'symbols.csv' has been successfully created with 1318 symbols.
[INFO ] Start Crawling last 24h price
[INFO ] Start Crawling last 24h price
[INFO ] Start Crawling last 24h price

,symbol,priceChange,priceChangePercent,prevClosePrice,lastPrice,openPrice,highPrice,lowPrice,volume,openTime,closeTime,count
0,ETHBTC,0.000836,2.762,0.030270,0.031107,0.030271,0.031681,0.029933,313761.909,1614494746851,1614581146851,338014
1,LTCBTC,0.000016,0.449,0.003565,0.003581,0.003565,0.003691,0.003529,258678.340,1614494746748,1614581146748,56868
2,BNBBTC,0.000101,2.170,0.004670,0.004770,0.004668,0.004935,0.004525,1064247.140,1614494746562,1614581146562,285097
3,NEOBTC,0.000002,0.259,0.000774,0.000775,0.000773,0.000806,0.000737,300243.090,1614494746701,1614581146701,17430
4,QTUMETH,-0.000218,-6.002,0.003633,0.003414,0.003632,0.003663,0.003401,33892.950,1614494737420,1614581137420,1164

In [2]:
# Format date/time from timestamps to date/time string
df['openTime'] = pd.to_datetime(df['openTime'], unit='ms')
df['closeTime'] = pd.to_datetime(df['closeTime'], unit='ms')

In [3]:
df_max = df[df['highPrice'] == df['highPrice'].max()]
df_max.head()

,symbol,priceChange,priceChangePercent,prevClosePrice,lastPrice,openPrice,highPrice,lowPrice,volume,openTime,closeTime,count
787,BTCIDRT,13966256.0,2.121,661770329.0,672541456.0,658575200.0,689371092.0,637849118.0,3.681093,2021-02-28 06:45:45.120,2021-03-01 06:45:45.120,1671

In [4]:
df_max_down_percent = df[df['priceChangePercent'] == df['priceChangePercent'].min()]
df_max_down_percent.head()

,symbol,priceChange,priceChangePercent,prevClosePrice,lastPrice,openPrice,highPrice,lowPrice,volume,openTime,closeTime,count
1188,AAVEDOWNUSDT,-0.000185,-34.644,0.000534,0.000349,0.000534,0.000585,0.000307,1.111969e+10,2021-02-28 06:45:44.928,2021-03-01 06:45:44.928,60054