In [11]:
import requests, time, re
import pandas as pd
import csv
import pickle as pkl
import json
from datetime import datetime, timezone

import binance_tasks

""" START HERE """
files = binance_tasks.crawl_24h_price()
# columns
cols = ['symbol', 'priceChange', 'priceChangePercent','prevClosePrice', 'lastPrice',
        'openPrice', 'highPrice', 'lowPrice', 'volume', 'openTime', 'closeTime', 'count']

for file in files:
    data = pd.read_csv(file.name)
    df = pd.DataFrame(data, columns=cols)
df.head()

[INFO ] Start Crawling last 24h price
[INFO ] Finish Crawling last 24h price 'Last_24h_price_2021_03_01.csv' has been successfully created for 1318 symbols.

,symbol,priceChange,priceChangePercent,prevClosePrice,lastPrice,openPrice,highPrice,lowPrice,volume,openTime,closeTime,count
0,ETHBTC,-0.000577,-1.827,0.031578,0.031001,0.031578,0.031681,0.029933,345970.269,1614480546724,1614566946724,380648
1,LTCBTC,-0.000073,-1.991,0.003666,0.003593,0.003666,0.003691,0.003520,340812.120,1614480546664,1614566946664,69822
2,BNBBTC,-0.000011,-0.218,0.004857,0.004847,0.004858,0.004876,0.004525,1152118.570,1614480546627,1614566946627,288124
3,NEOBTC,-0.000001,-0.127,0.000790,0.000788,0.000789,0.000806,0.000737,323289.930,1614480546679,1614566946679,18880
4,QTUMETH,-0.000051,-1.437,0.003551,0.003497,0.003548,0.003663,0.003408,39312.740,1614480522946,1614566922946,1284

In [34]:
# Format date/time from timestamps to date/time string
df['openTime'] = pd.to_datetime(df['openTime'], unit='ms')
df['closeTime'] = pd.to_datetime(df['closeTime'], unit='ms')

In [35]:
df_max = df[df['highPrice'] == df['highPrice'].max()]
df_max.head()

,symbol,priceChange,priceChangePercent,prevClosePrice,lastPrice,openPrice,highPrice,lowPrice,volume,openTime,closeTime,count
787,BTCIDRT,13284126.0,1.983,670090640.0,683143683.0,669859557.0,689371092.0,637849118.0,4.045193,2021-02-28 02:48:57.095,2021-03-01 02:48:57.095,1890

In [36]:
df_max_down_percent = df[df['priceChangePercent'] == df['priceChangePercent'].min()]
df_max_down_percent.head()

,symbol,priceChange,priceChangePercent,prevClosePrice,lastPrice,openPrice,highPrice,lowPrice,volume,openTime,closeTime,count
1188,AAVEDOWNUSDT,-0.000187,-37.177,0.000504,0.000316,0.000503,0.000588,0.000307,1.015372e+10,2021-02-28 02:49:05.480,2021-03-01 02:49:05.480,54790